
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    padding: 20px 60px;
  }
  

@tailwind base;
@tailwind components;
@tailwind utilities;